main{
    background-image: url("http://localhost:8000/../img/sfondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: content;
}
h2{
    color: rgb(0, 45, 115);
    padding: 10px 0;
}
.main_img{
    width: 300px;
    height: 200px;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    display: inline-block;
}
.main_img img{
  width: 300px;
  height: 200px;
}
.container{
    max-width: 1200px;
    margin: auto;
}
h1{
    margin-bottom: 100px;
}
.main_img:hover{
    background-color: rgb(74,102,128);
}
.main_img:hover img{
    transition: 0.8s;
    opacity:0.3;
    transform: scale(1.1);
}
.info_pasta{
    width: 300px;
    height: 200px;
    img{
        width:20px;
        height:20px;
    }
}