.nav_list{
    display: flex;
    justify-content: center;
    li{
        list-style: none;
        padding: 0 10px;
        font-weight: 600;
        cursor: pointer;
        padding: 10px 5px;
    }
}
.nav_list li:hover{
    background-color: rgb(179,229,252);
    padding: 10px 5px;
}
nav{
    margin-bottom: 0;
}