.container_2{
    background-color: rgb(183,218,229);
    height: content;
}
.pruducts_main{
    max-width:1200px;
    margin: auto;
    h2{
        text-align: center;
    }
    img{
        width:100%;
    }
    p{
        color:rgb(10,54,121);
    }
}
.first-foto{
    height: 600px;
}

.first-foto{
    height: 600px;
}